/* SLIDER STYLING */
/* this is such a pain. why does css have to be so stupid? */
/* after searching for more than an hour and trying 15 different hacks to get
 * rid of the stupid blue glow around focused input elements in firefox i give
 * up. such bullshit. */
input[type=range] {
    /* -moz-appearance: none; */
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: var(--b-bg-1);
}
input[type=range]::-moz-range-track {
    width: calc(100% - 8px);
    height: 4px;
    background: var(--b-bg-2);
    border: none;
    border-radius: 2px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--b-link);
}

/* webkit */
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: calc(100% - 50px);
    height: 4px;
    background: var(--b-bg-2);
    border: none;
    border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--b-link);
    margin-top: -6px;
}
